<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css" />

    
    <title>Home</title>
</head>
<body>
    <header>
        <%- include('partials/header') %> 
    </header>
    
  
    <h1>HOME</h1>

    <form>
        <input type="text">
        <button>Search</button>
    </form>

    <p id="location">Location</p>
    <p id="forecast"> forecast</p>

    <p> Hora Atual é: <strong><%=horaAtual%></strong></p>

</div>
<script type="text/javascript" src="/scripts.js"></script>
 

</body>

    <%- include('partials/footer') %>

</html>